// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "lists.scss";

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 400px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  height: 100vh;
  padding: 64px 0px;
  text-align: center;
}

#list-name {
  margin-top: 24px;
  margin-bottom: 16px;
}

.movies-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-category {
  width: 300px;
}

#banner-typed-text{
  color:white;
  font-size: 32px;
}

.list-name {
  color:white;

  &:hover {
    color: blue;
    text-decoration: none;
  }
}

.card-list {
  display: flex;
}

.card-movie {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px;

    .card-remove-link {
    position: absolute;
    top: 10px;
    left: 264px;
  }
}

.fa-trash {
  color: white;

  &:hover {
    color: blue;
    text-decoration: none;
  }

}

.card-movie > img {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.card-movie h3 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}

.card-movie p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding: 16px;
}

.list-layout {
  display: flex;
  margin-right: 0px;
  flex-wrap: wrap;
  width: 100%;
}

.bookmark-form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
}

.form-inputs {
  margin: 24px 16px;

}

.button {
  border: 1px solid rgb(200, 200, 200);
  padding: 8px 32px;
  box-shadow: 2px 2px 2px rgb(220, 220, 220);
  width: 150px;
  border-radius: 32px;
  margin: 0px 16px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(200, 200, 200, 0.8);
  color: white;
  height: 64px;

  &:hover {
    color: blue;
    text-decoration: none;
  }
}


